<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/application.css">
    <title> Beat Me! Your URL shortener, also life shortener </title>
	</head>
	<body>
		<%= yield %>
	</body>
</html>
